<!-- src/main/resources/templates/validate_users.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Activar Usuarios</title>
</head>
<body>
    <div class="header">
        <div class="logo-container">
            <a href="/" th:href="@{/}">
                <img src="/images/logo.png" alt="Logo" class="logo">
            </a>
            <h1>Administrador <span th:text=" ' ' + ${nombreUsuario} +  ' '"></span></h1>
        </div>
    </div>
    <nav>
        <ul>
            <li><a th:href="@{/admin/activate_users}">Activar Usuarios</a></li>
            <li><a th:href="@{/admin/delete_users}">Eliminar Usuarios</a></li>
            <li><a th:href="@{/noticias}">Noticias</a></li>
            <li><a th:href="@{/votaciones}">Votaciones</a></li>
            <li><a th:href="@{/logout}">Cerrar Sesión</a></li>
        </ul>
    </nav>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Nombre de Usuario</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="usuario : ${usuariosNoActivos}">
                    <td th:text="${usuario.nombreUsuario}"></td>
                    <td>
                        <form th:action="@{/admin/activate_user}" method="post">
                            <input type="hidden" th:value="${usuario.id}" name="userId"/>
                            <button type="submit">Validar</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="footer">
        <p>&copy; Curso 24/25 Portal Fórmula 1 - Ismael Blázquez</p>
    </div>
</body>
</html>