<!-- src/main/resources/templates/validate_users.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mostrar Usuarios</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/f1-styles.css}">
    <style>
        .confirm-button {
            background-color: green;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            display: none;
        }
        .cancel-button {
            background-color: red;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            display: none;
        }
    </style>
    <script>
        function confirmDelete(userId) {
            var deleteButton = document.getElementById('deleteButton-' + userId);
            var confirmButton = document.getElementById('confirmButton-' + userId);
            var cancelButton = document.getElementById('cancelButton-' + userId);

            console.log('deleteButton:', deleteButton);
            console.log('confirmButton:', confirmButton);
            console.log('cancelButton:', cancelButton);

            if (deleteButton && confirmButton && cancelButton) {
                deleteButton.style.display = 'none';
                confirmButton.style.display = 'inline';
                cancelButton.style.display = 'inline';
            } else {
                console.error('Element not found for userId:', userId);
            }
        }

        function cancelDelete(userId) {
            var deleteButton = document.getElementById('deleteButton-' + userId);
            var confirmButton = document.getElementById('confirmButton-' + userId);
            var cancelButton = document.getElementById('cancelButton-' + userId);

            console.log('deleteButton:', deleteButton);
            console.log('confirmButton:', confirmButton);
            console.log('cancelButton:', cancelButton);

            if (deleteButton && confirmButton && cancelButton) {
                deleteButton.style.display = 'inline';
                confirmButton.style.display = 'none';
                cancelButton.style.display = 'none';
            } else {
                console.error('Element not found for userId:', userId);
            }
        }
    </script>
</head>
<body>
    <div class="header">
        <div class="logo-container">
            <a href="/" th:href="@{/}">
                <img src="/images/logo.png" alt="Logo" class="logo">
            </a>
<!--            <h1>Administrador <span class="margen" th:text="${nombreUsuario}"></span></h1>-->
            <h1>Usuarios</h1>
        </div>
    </div>
    <nav>
        <ul>
            <li><a th:href="@{/admin/show_users}">Usuarios</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Noticias</a>
                <div class="dropdown-content">
                    <a>Ver Noticias</a>
                    <a>Crear Noticia</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Votaciones</a>
                <div class="dropdown-content">
                    <a th:href="@{/admin/activate_users}">Ver Votaciones</a>
                    <a th:href="@{/admin/delete_users}">Crear Votación</a>
                </div>
            </li>
            <li><a th:href="@{/logout}">Cerrar Sesión</a></li>
        </ul>
    </nav>
    <div class="container">
        <table>
            <thead>
            <tr>
                <th>Nombre de Usuario</th>
                <th>Roles</th>
                <th>Estado</th>
                <th>Acción</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="usuario : ${allUsers}">
                <td th:text="${usuario.nombreUsuario}"></td>
<!--                <td th:text="${usuario.roles.iterator().next().nombre}"></td>-->
<!--                <td>-->
<!--                    <ul>-->
<!--                        <li th:each="role : ${usuario.roles}" th:text="${role.nombre}"></li>-->
<!--                    </ul>-->
<!--                </td>-->
                <td>
                    <span th:each="rol : ${usuario.roles}" th:text="${rol.nombre} + ' '"></span>
                </td>
                <td th:text="${usuario.activo ? 'Activo' : 'No Activo'}" th:style="${usuario.activo ? 'color: green;' : 'color: red;'}"></td>
                <td>
                    <form th:action="@{/admin/activate_user}" method="post" style="display:inline;" th:if="${!usuario.activo}">
                        <input type="hidden" th:value="${usuario.id}" name="userId"/>
                        <button type="submit">Activar</button>
                    </form>
                    <form th:action="@{/admin/delete_user}" method="post" style="display:inline;" th:if="${!usuario.activo}">
                        <input type="hidden" th:value="${usuario.id}" name="userId"/>
                        <button type="submit">Rechazar</button>
                    </form>
                    <form th:action="@{/admin/delete_user}" method="post" th:id="'deleteForm-' + ${usuario.id}" style="display:inline;" th:if="${usuario.activo}">
                        <input type="hidden" th:value="${usuario.id}" name="userId"/>
                        <button type="button" th:id="'deleteButton-' + ${usuario.id}" th:onclick="'confirmDelete(' + ${usuario.id} + ')'">Eliminar</button>
                        <button type="button" th:id="'confirmButton-' + ${usuario.id}" class="confirm-button" th:onclick="'document.getElementById(\'deleteForm-' + ${usuario.id} + '\').submit()'">Confirmar</button>
                        <button type="button" th:id="'cancelButton-' + ${usuario.id}" class="cancel-button" th:onclick="'cancelDelete(' + ${usuario.id} + ')'">Cancelar</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="footer">
        <p>&copy; Curso 24/25 Portal Fórmula 1 - Ismael Blázquez</p>
    </div>
</body>
</html>