<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resultados - Combustible</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <div th:replace="~{fragmentos/menu :: menu(${titulo})}"></div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Coche</th>
            <th>Circuito</th>
            <th>Vueltas</th>
            <th>Consumo por Vuelta (L)</th>
            <th>Consumo Total (L)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${coche.nombre}"></td>
            <td th:text="${circuito.nombre}"></td>
            <td th:text="${circuito.numeroVueltas}"></td>
            <td th:text="${consumoPorVuelta}"></td>
            <td th:text="${consumoTotal}"></td>
        </tr>
        </tbody>
    </table>

    <div th:replace="~{fragmentos/backButtons :: buttons}"></div>
    <div th:replace="~{fragmentos/footer :: footer}"></div>
</div>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
