<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resultados - ERS</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <div th:replace="~{fragmentos/menu :: menu(${titulo})}"></div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Coche</th>
            <th>Circuito</th>
            <th>ERS por Vuelta (kWh)</th>
            <th>Vueltas para Cargar Batería</th>
            <th>Estilo de Conducción</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${coche.nombre}"></td>
            <td th:text="${circuito.nombre}"></td>
            <td th:text="${ersPorVuelta}"></td>
            <td th:text="${vueltasParaCargar}"></td>
            <td th:text="${estiloConduccion}"></td>
        </tr>
        </tbody>
    </table>

    <div th:replace="~{fragmentos/backButtons :: buttons}"></div>
    <div th:replace="~{fragmentos/footer :: footer}"></div>
</div>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
