<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Coche</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <div th:replace="~{fragmentos/menu :: menu(${titulo})}"></div>

    <div th:if="${error != null}" class='alert alert-danger' th:text="${error}" role='alert'></div>
    <div th:if="${success != null}" class='alert alert-success' th:text="${success}" role='alert'></div>

    <div class="form-container">
        <form th:action="@{/coches/guardarCoche}" th:object="${coche}" method="post" class="needs-validation" novalidate>
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" th:field="*{nombre}" class="form-control" maxlength="100" required />
            </div>
            <div class="form-group">
                <label for="codigo">Código:</label>
                <input type="text" id="codigo" th:field="*{codigo}" class="form-control" maxlength="10" required />
            </div>
            <div class="form-group">
                <label for="ersCurvalenta">ERS Curva Lenta (kWh):</label>
                <input type="number" id="ersCurvalenta" th:field="*{ersCurvalenta}" class="form-control" step="0.01" required />
            </div>
            <div class="form-group">
                <label for="ersCurvamedia">ERS Curva Media (kWh):</label>
                <input type="number" id="ersCurvamedia" th:field="*{ersCurvamedia}" class="form-control" step="0.01" required />
            </div>
            <div class="form-group">
                <label for="ersCurvarapida">ERS Curva Rápida (kWh):</label>
                <input type="number" id="ersCurvarapida" th:field="*{ersCurvarapida}" class="form-control" step="0.01" required />
            </div>
            <div class="form-group">
                <label for="consumo">Consumo (L/100km):</label>
                <input type="number" id="consumo" th:field="*{consumo}" class="form-control" step="0.01" required />
            </div>

            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{equipo.id}"/>

            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <nav th:replace="~{fragmentos/backButtons :: buttons}"></nav>
            </div>
        </form>
    </div>

    <div th:replace="~{fragmentos/footer :: footer}"></div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/goBack.js}"></script>
</body>
</html>