<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${equipo.nombre}">Equipo</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <div th:replace="~{fragmentos/menu :: menu(${titulo})}"></div>

    <div th:if="${error != null}" class='alert alert-danger' th:text="${error}" role='alert'></div>
    <div th:if="${success != null}" class='alert alert-success' th:text="${success}" role='alert'></div>

    <div class="container my-4">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h2 th:text="${equipo.nombre}"></h2>
                <div th:if="${puedeEditar}">
                    <a sec:authorize="hasAnyRole('ROLE_RESPONSABLE')" th:href="@{/equipos/editarEquipo/{idEquipo}(idEquipo=${equipo.id})}" class="btn btn-warning btn-sm mx-1">Editar</a>
                    <a sec:authorize="hasAnyRole('ROLE_RESPONSABLE')" th:href="@{/equipos/borrarEquipo/{idEquipo}(idEquipo=${equipo.id})}"
                       th:text="'Borrar'" onclick="return confirm('¿Estas seguro?')" class="btn btn-danger btn-sm mx-1" role="button" title="Eliminar el equipo">
                        <i class="fas fa-trash" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4" th:if="${equipo.logo != null}">
                        <img th:src="@{/equipos/verImagen/{filename}(filename=${equipo.logo})}" class="img-fluid" alt="Logo del Equipo">
                    </div>
                    <div class="col-md-8">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th><strong>Twitter</strong></th>
                                <td th:text="${equipo.twitter}"></td>
                            </tr>
                            <tr th:if="${puedeEditar}">
                                <th>
                                    <a th:href="@{/usuarios/verResponsables/{idEquipo}(idEquipo=${equipo.id})}"><strong>Responsables</strong></a>
                                </th>
                                <td>
                                    <ul>
                                        <li th:each="responsable : ${responsables}">
                                            <a th:text="${responsable.nombreUsuario}"></a>
                                            <span th:text="'  (' + ${responsable.email} + ')'"></span>
                                            <a th:if="${puedeEditar}"
                                                  th:href="@{/equipos/{idEquipo}/quitarResponsable/{idUsuario}(idEquipo=${equipo.id}, idUsuario=${responsable.id})}"
                                                  class="btn btn-danger btn-sm mx-1"
                                               onclick="return confirm('¿Estas seguro?')" role="button" title="Eliminar el responsable.">X</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr sec:authorize="isAuthenticated()" th:if="${puedeEditar}">
                                <th>
                                    <a th:href="@{/coches/byEquipo/{idEquipo}(idEquipo=${equipo.id})}"><strong>Coches</strong></a>
                                </th>
                                <td sec:authorize="isAuthenticated()" th:if="${puedeEditar}">
                                    <ul>
                                        <li th:each="coche : ${coches}">
                                            <a th:if="${puedeEditar}" th:href="@{/coches/verCoche/{idCoche}(idCoche=${coche.id})}" th:text="${coche.nombre} + ' (' + ${coche.codigo} + ')'"></a>
                                            <a th:if="${!puedeEditar}" th:text="${coche.nombre}"></a>
                                            <a th:if="${puedeEditar}"
                                               th:href="@{/coches/eliminarCoche/{idCoche}(idCoche=${coche.id})}"
                                               class="btn btn-danger btn-sm mx-1"
                                               onclick="return confirm('¿Estas seguro?')" role="button" title="Eliminar el coche">X</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <a th:href="@{/pilotos/byEquipo/{idEquipo}(idEquipo=${equipo.id})}"><strong>Pilotos</strong></a>
                                </th>
                                <td>
                                    <ul>
                                        <li th:each="piloto : ${pilotos}">
<!--                                            <a th:if="${puedeEditar}" th:href="@{/pilotos/verPiloto/{idPiloto}(idPiloto=${piloto.id})}"-->
<!--                                               th:text="${piloto.nombre} + ' ' + ${piloto.apellidos} + ' (' + ${piloto.siglas} + ') - ' + ${piloto.dorsal}"></a>-->
<!--                                            <a th:if="${!puedeEditar}" th:text="${piloto.nombre} + ' ' + ${piloto.apellidos} + ' (' + ${piloto.siglas} + ') - ' + ${piloto.dorsal}"></a>-->
                                            <a th:href="@{/pilotos/verPiloto/{idPiloto}(idPiloto=${piloto.id})}" th:text="${piloto.nombre} + ' ' + ${piloto.apellidos} + ' (' + ${piloto.siglas} + ') - ' + ${piloto.dorsal}"></a>
                                            <a th:if="${puedeEditar}"
                                               th:href="@{/pilotos/eliminarPiloto/{idPiloto}(idPiloto=${piloto.id})}"
                                               class="btn btn-danger btn-sm mx-1"
                                               onclick="return confirm('¿Estas seguro?')" role="button" title="Eliminar el Piloto">X</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <a th:if="${puedeEditar}" sec:authorize="hasAnyRole('ROLE_RESPONSABLE')" class="btn btn-primary" role="button"
           th:href="@{/equipos/buscarResponsablesParaEquipo/{idEquipo}(idEquipo=${equipo.id})}">Añadir Responsables</a>
        <nav th:replace="~{fragmentos/backButtons :: buttons}"></nav>
    </div>
    <div th:replace="~{fragmentos/footer :: footer}"></div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/goBack.js}"></script>
</body>
</html>