<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${votacion.titulo}">Votación</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <div th:replace="~{fragmentos/menu :: menu(${titulo})}"></div>

    <div th:if="${error != null}" class='alert alert-danger' th:text="${error}" role='alert'></div>
    <div th:if="${success != null}" class='alert alert-success' th:text="${success}" role='alert'></div>

    <div class="container my-4">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h2 th:text="${votacion.titulo}"></h2>
                <div th:if="${isActiva}">
                    <a th:href="@{/votaciones/votar/{idVotacion}(idVotacion=${votacion.id})}" class="btn btn-primary">Votar</a>
                </div>
            </div>
            <div class="card-body">
                <p><span th:text="${votacion.descripcion}"></span></p>
                <div th:if="${isActiva}">
                    <p><strong>Fecha Límite: <span th:text="${#dates.format(votacion.fechaLimite, 'dd/MM/yyyy HH:mm')}"></span></strong></p>
                </div>
                <div th:if="${!isActiva}">
                    <p class="alert-danger"><strong>La votación terminó el <span th:text="${#dates.format(votacion.fechaLimite, 'dd/MM/yyyy HH:mm')}"></span> </strong></p>
                </div>

                <h3>Pilotos</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Foto</th>
                        <th>
                            <a th:href="@{/votaciones/verVotacion/{idVotacion}(idVotacion=${votacion.id}, sortField='nombre', sortDir=${sortField == 'nombre' ? reverseSortDir : 'asc'})}">
                                Nombre
                                <span th:if="${sortField == 'nombre'}" th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                            </a>
                        </th>
                        <th>
                            <a th:href="@{/votaciones/verVotacion/{idVotacion}(idVotacion=${votacion.id}, sortField='apellidos', sortDir=${sortField == 'apellidos' ? reverseSortDir : 'asc'})}">
                                Apellidos
                                <span th:if="${sortField == 'apellidos'}" th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                            </a>
                        </th>
                        <th>
                            <a th:href="@{/votaciones/verVotacion/{idVotacion}(idVotacion=${votacion.id}, sortField='siglas', sortDir=${sortField == 'siglas' ? reverseSortDir : 'asc'})}">
                                Siglas
                                <span th:if="${sortField == 'siglas'}" th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                            </a>
                        </th>
                        <th>
                            <a th:href="@{/votaciones/verVotacion/{idVotacion}(idVotacion=${votacion.id}, sortField='dorsal', sortDir=${sortField == 'dorsal' ? reverseSortDir : 'asc'})}">
                                Dorsal
                                <span th:if="${sortField == 'dorsal'}" th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                            </a>
                        </th>
                        <th>
                            <a th:href="@{/votaciones/verVotacion/{idVotacion}(idVotacion=${votacion.id}, sortField='equipo', sortDir=${sortField == 'equipo' ? reverseSortDir : 'asc'})}">
                                Equipo
                                <span th:if="${sortField == 'equipo'}" th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                            </a>
                        </th>
                        <th>
                            <a th:href="@{/votaciones/verVotacion/{idVotacion}(idVotacion=${votacion.id}, sortField='porcentajeVotos', sortDir=${sortField == 'porcentajeVotos' ? reverseSortDir : 'asc'})}">
                                Porcentaje de Votos
                                <span th:if="${sortField == 'porcentajeVotos'}" th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="piloto : ${votacion.pilotos}" th:classappend="${piloto.porcentajeVotos == maxPorcentajeVotos} ? 'table-success'">
<!--                        <td><img th:src="@{/pilotos/verImagen/{filename}(filename=${piloto.foto})}" class="img-thumbnail" style="max-width: 80px;" alt="Foto del Piloto"></td>-->
                        <td>
                            <a href="#" th:attr="data-image-url=@{/pilotos/verImagen/{filename}(filename=${piloto.foto})}" onclick="showImageModal(this); return false;">
                                <img th:src="@{/pilotos/verImagen/{filename}(filename=${piloto.foto})}" class="img-thumbnail" style="max-width: 80px;" alt="Foto del Piloto">
                            </a>
                        </td>
                        <td th:text="${piloto.nombre}"></td>
                        <td th:text="${piloto.apellidos}"></td>
                        <td th:text="${piloto.siglas}"></td>
                        <td th:text="${piloto.dorsal}"></td>
                        <td th:text="${piloto.equipo.nombre}"></td>
                        <td th:text="${#numbers.formatDecimal(piloto.porcentajeVotos, 2, 1)} + ' %'"></td>
                    </tr>
                    </tbody>
                </table>
                <div th:if="${isActiva}">
                    <a th:href="@{/votaciones/votar/{idVotacion}(idVotacion=${votacion.id})}" class="btn btn-primary">Votar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <nav th:replace="~{fragmentos/backButtons :: buttons}"></nav>
    </div>
    <div th:replace="~{fragmentos/footer :: footer}"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img id="modalImage" src="" class="img-fluid" alt="Imagen del Piloto">
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/goBack.js}"></script>
<script>
    function showImageModal(element) {
        var imageUrl = element.getAttribute('data-image-url');
        $('#modalImage').attr('src', imageUrl);
        $('#imageModal').modal('show');
    }
</script>
</body>
</html>