<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Noticia</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <div th:replace="~{fragmentos/menu :: menu(${titulo})}"></div>

    <div th:if="${error != null}" class='alert alert-danger' th:text="${error}" role='alert'></div>
    <div th:if="${success != null}" class='alert alert-success' th:text="${success}" role='alert'></div>
    <div class="form-container">
        <form th:action="@{/noticias/guardarNoticia}" th:object="${noticia}" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
            <div class="form-group">
                <label for="titulo">Titulo:</label>
                <input type="text" id="titulo" th:field="*{titulo}" class="form-control" maxlength="100" required />
            </div>
            <div class="form-group">
                <label for="texto">Texto:</label>
                <textarea id="texto" th:field="*{texto}" class="form-control" required></textarea>
                <div id="texto-error" class="invalid-feedback" style="display: none;">El texto debe tener entre 500 y 2000 caracteres.</div>
            </div>

            <img th:if="${noticia.imagen != null && #strings.length(noticia.imagen) > 0}" class="img-thumbnail rounded float-left"
                 style="max-width: 25%;" th:src="@{'/ccursos/uploads/' + ${noticia.imagen}}"
                 th:alt="${noticia.imagen}" />

            <div class="mb-3">
                <label for="file" class="col-sm-2 col-form-label">Imagen</label>
                <div class="col-sm-6">
                    <input type="file" id="file" name="file" class="form-control"/>
                </div>
            </div>

            <input type="hidden" th:field="*{imagen}"/>
            <input type="hidden" th:field="*{id}"/>

            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <nav  th:replace="~{fragmentos/backButtons :: buttons}"></nav>
            </div>
        </form>
    </div>

    <div th:replace="~{fragmentos/footer :: footer}"></div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/goBack.js}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.querySelector('form');
        const texto = document.getElementById('texto');
        const textoError = document.getElementById('texto-error');

        texto.addEventListener('input', function () {
            const textoLength = texto.value.length;
            if (textoLength < 500 || textoLength > 2000) {
                texto.classList.add('is-invalid');
                textoError.style.display = 'block';
            } else {
                texto.classList.remove('is-invalid');
                textoError.style.display = 'none';
            }
        });

        form.addEventListener('submit', function (event) {
            const textoLength = texto.value.length;
            if (textoLength < 500 || textoLength > 2000) {
                event.preventDefault();
                alert('El texto debe tener entre 500 y 2000 caracteres.');
            }
        });
    });
</script>
</body>
</html>