<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Página de Inicio</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/f1-styles.css}">
</head>
<body>
    <div class="header">
        <div class="logo-container">
            <a href="/" th:href="@{/}">
                <img src="/images/logo.png" alt="Logo" class="logo">
            </a>
            <h1>Bienvenido a la Página de Inicio</h1>
        </div>
    </div>
    <nav>
        <ul>
            <li><a th:href="@{/register}">Registrarse</a></li>
            <li><a th:href="@{/login}">Iniciar Sesión</a></li>
            <li><a th:href="@{/noticias}">Noticias</a></li>
            <li><a th:href="@{/votaciones}">Votaciones</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="sketchfab-embed-wrapper"> <iframe title="Ferrari 248 (2006)" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share width="640" height="480" src="https://sketchfab.com/models/d3162726a0c94d78b5f8ad99dc79a12d/embed?autostart=1&camera=0&preload=1"> </iframe>    </div>
<!--        <div class="sketchfab-embed-wrapper"> <iframe title="Low-poly Vintage F1" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share width="640" height="480" src="https://sketchfab.com/models/b1e1b872826a4a4893532a5e251c8be9/embed?autospin=1&autostart=1&preload=1&dnt=1"> </iframe> </div>-->
    </div>

    <div class="footer">
        <p>&copy; Curso 24/25 Portal Fórmula 1 - Ismael Blázquez</p>
    </div>
</body>
</html>