<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <div class="header text-center my-4">
        <div class="logo-container">
            <a href="/" th:href="@{/}">
                <img src="/images/logo.png" alt="Logo" class="logo img-fluid">
            </a>
            <h1>Iniciar Sesión</h1>
        </div>
    </div>
    <div class="form-container">
        <form th:action="@{/login}" method="post" class="needs-validation" novalidate>
            <div class="form-group">
                <label for="nombreUsuario">Nombre de Usuario:</label>
                <input type="text" id="nombreUsuario" name="nombreUsuario" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="contrasena">Contraseña:</label>
                <input type="password" id="contrasena" name="contrasena" class="form-control" required />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                <button type="button" class="btn btn-secondary" onclick="window.location.href='/'">Volver</button>
            </div>
            <div th:if="${loginError}" class="alert alert-danger">
                <p th:text="${loginError}"></p>
            </div>
        </form>
    </div>
    <div class="footer text-center mt-4">
        <p>&copy; Curso 24/25 Portal Fórmula 1 - Ismael Blázquez</p>
    </div>
</div>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>