<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro Exitoso</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/f1-styles.css}">
</head>
<body>
    <div class="header">
        <div class="logo-container">
            <a href="/" th:href="@{/}">
                <img src="/images/logo.png" alt="Logo" class="logo">
            </a>
            <h1>Registro Exitoso</h1>
        </div>
    </div>
    <div class="success-box">
        <h1>Usuario <span th:text="' ' + ${nombreUsuario} + ' '"></span> añadido con éxito</h1>
    </div>
    <div>
        <button type="button" class="button" onclick="window.location.href='/'">Volver</button>
    </div>
    <div class="footer">
        <p>&copy; Curso 24/25 Portal Fórmula 1 - Ismael Blázquez</p>
    </div>
</body>
</html>