<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Circuito</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <div th:replace="~{fragmentos/menu :: menu(${titulo})}"></div>

    <div th:if="${error != null}" class='alert alert-danger' th:text="${error}" role='alert'></div>
    <div th:if="${success != null}" class='alert alert-success' th:text="${success}" role='alert'></div>

    <div class="form-container" th:if="${addCalendario != null && !addCalendario}">
        <form th:action="@{/circuitos/guardarCircuito}" th:object="${circuito}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" th:field="*{nombre}" class="form-control" maxlength="100" required />
            </div>
            <div class="form-group">
                <label for="ciudad">Ciudad:</label>
                <input type="text" id="ciudad" th:field="*{ciudad}" class="form-control" maxlength="100" required />
            </div>
            <div class="form-group">
                <label for="pais">País:</label>
                <input type="text" id="pais" th:field="*{pais}" class="form-control" maxlength="50" required />
            </div>
            <div class="form-group">
                <label for="numeroVueltas">Número de Vueltas:</label>
                <input type="number" id="numeroVueltas" th:field="*{numeroVueltas}" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="longitud">Longitud (m):</label>
                <input type="number" step="0.01" id="longitud" th:field="*{longitud}" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="curvasLentas">Nº Curvas Lentas:</label>
                <input type="number" id="curvasLentas" th:field="*{curvasLentas}" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="curvasMedias">Nº Curvas Medias:</label>
                <input type="number" id="curvasMedias" th:field="*{curvasMedias}" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="curvasRapidas">Nº Curvas Rápidas:</label>
                <input type="number" id="curvasRapidas" th:field="*{curvasRapidas}" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="fechaCalendarioStr">Fecha Calendario: (No obligatorio)</label>
                <input type="date" id="fechaCalendarioStr" name="fechaCalendarioStr" th:value="${circuito.fechaCalendario}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="file">Trazado:</label>
                <input type="file" id="file" name="file" class="form-control" th:attr="required=${editMode == null || !editMode}"/>
            </div>
            <input type="hidden" th:field="*{id}"/>

            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <nav th:replace="~{fragmentos/backButtons :: buttons}"></nav>
            </div>
        </form>
    </div>
    <div th:if="${addCalendario}">
        <form th:action="@{/circuitos/guardarCircuitoCalendario}" th:object="${circuito}" method="post" enctype="multipart/form-data">
            <div class="form-group" th:if="${addCalendario}">
                <label for="nombreCal">Nombre:</label>
                <input type="text" id="nombreCal" th:field="*{nombre}" class="form-control" maxlength="100" required readonly />
            </div>
            <div class="form-group" th:if="${addCalendario}">
                <label for="ciudadCal">Ciudad:</label>
                <input type="text" id="ciudadCal" th:field="*{ciudad}" class="form-control" maxlength="100" required readonly />
            </div>
            <div class="form-group" th:if="${addCalendario}">
                <label for="paisCal">País:</label>
                <input type="text" id="paisCal" th:field="*{pais}" class="form-control" maxlength="50" required readonly />
            </div>
            <div class="form-group">
                <label for="fechaCalendarioStrCal">Fecha Calendario:</label>
                <input type="date" id="fechaCalendarioStrCal" name="fechaCalendarioStr" class="form-control" required/>
            </div>
            <input type="hidden" th:field="*{id}"/>

            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <nav th:replace="~{fragmentos/backButtons :: buttons}"></nav>
            </div>
        </form>
    </div>

    <div th:replace="~{fragmentos/footer :: footer}"></div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/goBack.js}"></script>
</body>
</html>